* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

/* Header */
.top-header {
 position: fixed;
  top: 0;
  width: 100%;
  background: #1E3A8A;
  color: white;
  text-align: center;
  padding: 15px;

  font-size: 28px;
  font-weight: 800;   
  letter-spacing: 1px;
}

/* Background */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(135deg, #4facfe, #8e44ad, #ff6ec4);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
  overflow: hidden;
}

/* Gradient animation */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Floating shapes */
body::before,
body::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  transform: rotate(45deg);
}

body::before {
  top: -100px;
  left: -100px;
}

body::after {
  bottom: -100px;
  right: -100px;
}

/* Container */
.login-container {
  z-index: 1;
  width: 100%;
}

.login-main {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.login-card {
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(10px);
  width: 320px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

/* Card title */
.login-card h2 {
  margin-bottom: 15px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  background: #eee;
}

/* Button */
.login-card button {
 width: 100%;
  padding: 10px 15px;
  background: #F97316;
  color: white;
  border: none;
  cursor: pointer;

  font-weight: bold;
  border-radius: 6px;

  transition: 0.2s ease;
}

.login-card button:hover {
 background: #ea580c;
transform: scale(1.05);
}